/*font-family: 'Open Sans', sans-serif;
font-family: 'Source Serif Pro', serif;*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/*ESTILOS GENERALES*/
h1{
    color: #780000ff;
    font-family: 'Source Serif Pro', serif;
    font-size: 2.5rem;
    font-weight: bold;
}

p,h2,h3,h4{
    color: #030303;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.title-bold{
    font-weight: bold;
}

.button-link{
    font-weight: bold;
    color: #780000ff;
}

.button-link:hover{
    color: rgb(72, 0, 0);
}


.button{
    background-color: #780000ff;
    color: white;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(72, 0, 0);
    color: white;
}

.button:active{
    color:rgb(72, 0, 0);
}


/*NAVBAR*/
.nav-styles{
    background-color: #fdf9efff;
}

.logo-nav{
    width: 200px;
}

.nav-button-border{
    border-color: #780000ff !important;
    color: #780000ff !important;
} 

.nav-button-color{
    color: #780000ff;
}

.link{
    font-weight: bold;
    color: #780000ff;
} 

.link:hover{
    color:rgb(72, 0, 0);
} 

.link:active{
    color:rgb(72, 0, 0);
} 


/*FOOTER*/
.footer-styles{
    color: white;
    background-color: #780000ff;
}

footer p{
    color: white;
    width: auto;
}

.redes{
    display: flex;
    flex-direction: row;
    row-gap: 1em;
}

.icono{
    width: 3em;
}

.logo{
width: 200px;
} 


/*---------------PAGE:index*/
.banner-img{
    width: 100%;
}

/*SEC:quote*/
.quote{
    background-color: rgba(120, 0, 0, 0.267);
    text-align: center;
}
.main-quote{
    font-style: italic;
}


/*SEC:servicio*/
.servicios-item img{
    height: 5rem;
    padding: 8px;
}


/*SEC:experiencias*/
.carousel-style{
    background-color: #E3E3E3;
    border-radius: 8px;
}

/*---------------PAGES*/

/*PAGE:Servicios*/
.banner-servicios{
    background-image: url(images/header-servicios.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-servicios h1{
    color: white;
    text-shadow: 3px 0px 3px rgba(0,0,0,0.6);
}


.grid-container-servicios{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "texto texto texto"
    "item1 item2 item3"
    "item4 item5 item6";
    justify-content: center;
    justify-items: center;
    align-items: start;
    row-gap: 3em;
    column-gap: 3em;
    margin: 40px 0px 80px 0px;
}

.servicios-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.grid-p{
    grid-area: texto;
    text-align: center;
}

.grid-item1{
    grid-area: item1;
}

.grid-item2{
    grid-area: item2;
}

.grid-item3{
    grid-area: item3;
}

.grid-item4{
    grid-area: item4;
}

.grid-item5{
    grid-area: item5;
}

.grid-item6{
    grid-area: item6;
}


/* MOBILE */
@media only screen and (max-width: 500) {
    .banner-servicios{
        background-image: none;
        background-color: #780000ff !important;
    }
    .grid-container-servicios{
        grid-template-columns: 75%;
        grid-template-rows: repeat(7,auto);
        grid-template-areas:
        "texto"
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6" !important;
    }
}



/*PAGE:Sobre nosotros*/
.banner-nosotros{
    background-image: url(images/header-nostros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-nosotros h1{
    color: white;
    text-shadow: 3px 0px 3px rgba(0,0,0,0.6);
}

.title-equipo{
    font-size: 1.5rem;
    font-weight: bold;   
}

.div-equipo img{
    width: 100%;
}


/*PAGE:blog*/
.banner-blog{
    background-image: url(images/header-blog.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-blog h1{
    color: white;
    text-shadow: 3px 0px 3px rgba(0,0,0,0.6);
}


.img-articulo{
    background-size: cover;
    width: 100%;
}

.img-articulo-xl{
    width: 75%;
}s

/*PAGE:Contacto*/

.banner-contacto{
    background-image: url(images/header-contacto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-contacto h1{
    color: white;
    text-shadow: 3px 0px 3px rgba(0,0,0,0.6);
}

.button-outline{
    border: 2px solid #780000ff;
    color: #780000ff;
    font-weight: bold;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    align-content: center;
    width: 50%;
    flex-wrap: wrap;
    margin: 3rem 0 3rem 0;
}

.form-styles{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    row-gap: 1em;
    margin-top: 1em;
}

.form-item{
    display: flex;
    flex-direction: column;
    row-gap: .2em;
    align-content: center;
}

hr{
    width: 100%;
}

.form-wpp{
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 2em;
    text-align: center;
}
