/* PAGE: INDEX */
.banner-img{
    @include sizes (100%,auto);
}

.quote{
    background-color: rgba(120, 0, 0, 0.267);
    text-align: center;

    span{
        font-style: italic;    
    }
}

.servicios-item img{
    @include sizes(auto,5rem);
    padding: 8px;
}

.carousel-style{
    background-color: #E3E3E3;
    border-radius: 8px;
}